<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet> <!-- 브라우저에서 요청하는 매핑 이름에 대해 실제로 실행하는 서블릿 클래스를 설정하는 태그 -->
  			<!-- aaa는 servlet태그와 servlet-mapping 태그를 연결 시켜줌 -->
  	<servlet-name>aaa</servlet-name>
		<!-- 브라우저에서 요청하는 매핑 이름에 대해 실제로 기능을 수행하는 서블릿 클래스 설정 -->  	
  	<servlet-class>sec01.ex01.FirstServlet</servlet-class>
  </servlet>
  
  <servlet> 
  	<servlet-name>bbb</servlet-name>
  	<servlet-class>sec01.ex01.SecondServlet</servlet-class>
  </servlet>

  <servlet-mapping> <!-- aaa는 servlet태그와 servlet-mapping 태그를 연결 시켜줌 -->
  <servlet-name>aaa</servlet-name>
  <url-pattern>/first</url-pattern> <!-- first는 웹 브라우저에서 요청하는 매핑이름 -->
  </servlet-mapping>				<!-- 웹 브라우저에서 class이름을 바로 호출하면 -->
									<!-- mapping해서 외부에서 찾기 힘들게 함 -->
									<!-- 보안상 취약하기 때문에 url패턴을 first로 -->

  <servlet-mapping>
  <servlet-name>bbb</servlet-name>
  <url-pattern>/second</url-pattern> 
  </servlet-mapping>				
</web-app>
